<%- include ./header %>
    <h1>관리자 페이지</h1>
    <div class="contents">
        <a href="/admin/manageusers">회원 관리</a>
        <a href="/admin/manageboards">게시판 관리</a>
    </div>
<%- include ./footer %>