<%- include ./header %>
    <form method="POST" action="/login">
        <table>
            <tr>
                <td><label for="id">ID: </label></td>
                <td><input type="text" name="id" id="id"/></td>
            </tr>
            <tr>
                <td><label for="pw">Password: </label></td>
                <td><input type="password" name="pw" id="pw"></td>
            </tr>
        </table>
        <input type="submit">
    </form>
<%- include ./footer %>