<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/register">
        <label for="id">ID</label>
        <input type="text" name="id" id="id" required>
        <label for="pw">Password</label>
        <input type="password" name="pw" id="pw" required>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <label for="nickname">Nickname</label>
        <input type="text" name="nickname" id="nickname" required>
        <input type="submit">
    </form>
</body>
</html>